/* body {
    background: #429583;
} */

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.delete-form {
    display: inline;
}

.comments-delete-form {
    margin-bottom: 20px;
}

.comment-text {
    margin-bottom: 5px;
}